<div th:fragment="include">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>大风车导航-宅男最爱老司机必备的网站</title>
  <meta name="keywords" content="后宫导航,杏吧论坛,性吧论坛,福利导航,杏吧APP">
  <meta name="description" content="后宫导航,杏吧论坛,性吧论坛,福利导航,杏吧APP">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc,mobile">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="referrer" content="always">
  <meta name="author" content="HouGongDaoHang">

  <link th:href="@{/css/12.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

  <link rel="shortcut icon" href="https://dfcdh12.top/%E5%92%8C%E5%B9%B3%E4%B8%96%E7%95%8C/favicon.ico">
</div>
