<!--<div class="tips"  th:fragment="tips">-->
<!--  <div class="tips-wrapper">-->
<!--    <div class="highlight">-->
<!--      <b><i class="fa fa-bullhorn" aria-hidden="true"></i> 友情提示</b>-->
<!--    </div>-->
<!--    <div>-->
<!--      请您务必收藏本站<a  th:href="@{${domainAddress}}" target="_blank">【最新地址发布页】</a>-->
<!--    </div>-->
<!--&lt;!&ndash;    <template x-for="{ href, title } in lists"></template>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->


<div class="toptips" th:fragment="tips">
  <li><b><i class="fa fa-bullhorn" aria-hidden="true"></i> 友情提示</b> &nbsp;请您务必收藏【<a
          href="https://www.whdh301.com/" target="_blank">最新地址发布页</a>】, 以免遗失我们哦！
    <i  class="fa fa-flag" aria-hidden="true"></i>
    <b>  最新地址</b> https://www.whdh301.com
  </li>
  <br class="clear">
</div>