<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>关于/收录/广告/联系 - 疯马导航</title>
    <meta name="description" content="疯马导航，曾经的校花都在这">
    <meta name="keywords" content="疯马导航">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="referrer" content="always">
    <meta name="author" content="MMRK">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div id="container">
    <div class="nav">
        <a href="https://www.fmdh.xyz/" target="_self" style="color:white;font-weight:bold">
            <li>首 页</li>
        </a>
        <a href="https://www.fmdh.xyz/gysl#ads" target="_self" style="color:white;font-weight:bold">
            <li>合 作</li>
        </a>
        <a href="https://www.fmdh.xyz/gysl#contact" target="_self" style="color:white;font-weight:bold">
            <li>联 络</li>
        </a>
        <a href="https://www.fmdh.xyz/gysl#log" target="_self" style="color:white;font-weight:bold">
            <li>更 新</li>
        </a>
        <a href="https://www.fmdh.xyz/" target="_blank" style="color:#ff0;font-weight:700">
            <li>地址发布</li>
        </a>
        <br class="clear"></div>

    <div class="cate" id="about">
        <div class="cate_name">
            <p><i class="fa fa-users" aria-hidden="true"></i> 关于我们</p>
        </div>
        <b><p>疯马导航网站创建于2020年 ◕‿◕</p>
            <p>这裡所分享的内容都经过我们的精心挑选</p>
            <p>我们希望能满足您的所有需要</p>
            <p>所以不断整合网路上分散的福利网站</p>
            <p>只为让您获得最简单、最全面、最整洁的福利网址导航体验</p></b>
        <br class="clear">
    </div>
    <div class="cate" id="ads">
        <div class="cate_name">
            <p><i class="fa fa-audio-description" aria-hidden="true"></i> 广告合作</p>
        </div>
        <p>1、有意在本站刊登广告，请将您的产品详情发送至客服邮箱;</p>
        <p>2、广告不得影响用户体验，不接受悬浮、弹窗、病毒类广告;</p>
        <p>3、大客户尊享<b class="orange">荐</b> <b>APP</b> 图标及字体颜色定制；</p>
        <p>4、广告仅支持 USDT 结算；</p>
        <p>5、广告到期本站不做任何提醒，未及时续费本站有权另行处理！</p>
        <br class="clear">
    </div>
    <div class="cate" id="add">
        <div class="cate_name">
            <p><i class="fa fa-handshake-o" aria-hidden="true"></i> 友链合作</p>
        </div>
        <a href="https://www.fmdh.xyz/" target="_blank"><span class="link-title" style="color:#FF0000"><font
                size="16">点击申请</font> </span></a>
        <p><span style="color:#E53333;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 什麽样的网站会被取消收录？</span>
        </p>
        <p>1、无故下链、随意变更友链位置;</p>
        <p>2、连续一周流量来路过低;</p>
        <p>3、使用站群技术骗取流量，后台核实为虚假流量；</p>
        <p>4、网站经管理员巡查发现无法正常访问；</p>
        <p>5、经用户举报包含假冒本站/恶意代码/虚假信息等内容。</p>
        <br class="clear">
    </div>
    <div class="cate" id="contact">
        <div class="cate_name">
            <p><i class="fa fa-envelope" aria-hidden="true"></i> 联络我们</p>
        </div>
        <p>关于友情链接及广告刊登的相关事宜，请联系</p>
        <p>TG：@</p>
        <br class="clear">
    </div>
    <div class="cate" id="log">
        <div class="cate_name">
            <p><i class="fa fa-list" aria-hidden="true"></i> 更新日誌</p>
        </div>
        <p>19/06/2023：没开玩笑，我们回来了；</p>
        <p>07/03/2022：清理了部分違反規定/來路異常/隨意安插竟品暗鏈的垃圾站點；</p>
        <p>01/06/2021：清理了質量較差的導航類站點；</p>
        <p>02/19/2021：清理了部分違反規定/來路異常/隨意變更友鏈位置的垃圾站點；</p>
        <p>01/04/2021：清除了隨意變更友鏈位置的部分垃圾站點；</p>
        <p>07/03/2021：清除了隨意變換友鏈位置的垃圾站點；</p>
        <p>03/12/2020：清除了隨意變換友鏈位置的站點；</p>
        <p>19/10/2020：清理了部分未及時修改我站鏈接的站點；</p>
        <p>06/06/2020：啟用新域名：whfldh.com；</p>
        <p>2020：網站全新改版上線</p>
        <br class="clear">
    </div>


    <div class="cate footer">
        <p>疯马导航 https://www.fmdh66.com 2021 |
            <a href="javascript:window.scrollTo( 0, 0 );" class="aboutBtn">
            返回顶部
            </a>
        </p>
        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            警告：我们立足於美利坚合眾国，对全球华人服务，受北美法律保护，若访客地区法律不允许，请自行离开！</p>
    </div>
</div>

</body>
</html>