<div class="faq" th:fragment="faq">
    <a onclick="addFavorite(window.location,document.title)" href="javascript:void(0)">
        <div class="faq_scj" id="scj"></div>
    </a>
    <a href="gysl" target="_blank">
        <div class="faq_div" id="guestbook">关于我们</div>
    </a>
    <a href="gysl" target="_blank">
        <div class="faq_div" id="guestbook">广告刊登</div>
    </a>
    <a href="gysl#add" target="_blank">
        <div class="faq_div" id="guestbook">网站提交</div>
    </a>
    <a href="gysl#log" target="_blank">
        <div class="faq_div" id="guestbook">更新日志</div>
    </a>
    <a>
    </a><div class="faq_div" id="guestbook">
    <a>
        <script type="text/javascript" th:src="@{/js/tw.js}"></script>
    </a>
    <a name="StranLink" id="StranLink" style="color:white;cursor:pointer" href="javascript:StranBody()" title="點擊以繁體中文方式浏覽">
        繁體中文
    </a>
    <a name="StranLink" id="StranLink" style="color:white;cursor:pointer" href="javascript:StranBody()" title="點擊以繁體中文方式浏覽">
        繁體中文
    </a>
</div>

</div>