<div th:fragment="include">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>疯马导航</title>
  <meta name="description" content="疯马导航，疯狂的导航">
  <meta name="keywords" content="疯马导航">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta name="applicable-device" content="pc,mobile">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="siteCode" content="jtm_dh">
  <meta name="referrer" content="always">
  <meta name="author" content="MMRK">

  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</div>
