/*
MiMiRuKou
*/
/* css reset*/
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    background: url(../images/jntm.png) center top no-repeat;
    background-color: #000000;
    overflow: hidden;
    color: #555;
    font-size: 13px;
    font-family: "Microsoft YaHei", Simsun, Tahoma
}

caption,
td,
th {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

img {
    border: none
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 14px
}

table {
    border-collapse: collapse
}

html {
    overflow-y: scroll
}

#container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 160px
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    border-radius: 2px;
}

.nav a {
    display: block;
    flex-basis: 8.3333%;
}

.nav li {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #FF4CE5;
    font-size: 16px;
    transition: color .5s, background-color .5s;
    overflow: hidden
}

.nav li:hover {
    color: #fff;
    background: #604CFF
}

.tips {
    display: flex;
    flex-wrap: wrap;
    color: red;
    line-height: 30px;
    background: #fffce7;
    margin-bottom: 2px;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px;
}

.tips a {
    color: red;
    margin-right: 10px;
}

.tips .highlight a {
    color: #fff;
    margin-right: 0;
}

.tips .tips-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}

.tips .highlight {
    height: 16px;
    line-height: 16px;
    background: #da634b;
    color: #fff;
    padding: 2px 8px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 2px;

}

.good {
    width: 100%;
    background: #fffce7;
    margin-bottom: 5px;
    border-radius: 2px;
    overflow: hidden
}

.good li {
    float: left;
    text-align: center;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    transition: color .5s, background-color .5s;
    overflow: hidden;
    font-weight: bold;
}

.good li:hover {
    color: #fff;
    background: #ff6ea1
}

.cate {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden
}

.cate_name {
    height: 40px;
    width: 100%;
    background: #ac2cfc;
    overflow: hidden
}

.cate .pink {
    background: #6eaffd
}

.cate .red {
    background: #e52525
}

.cate .green {
    background: #23BE6B
}

.cate .yellow {
    background: #fc9600
}

.cate .gray {
    background: #788daa
}

.cate .orange {
    background: #f76e25
}

.cate .black {
    background: #333
}

.cate_name p {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    margin-left: 20px
}

.cate li {
    float: left;
    text-align: center;
    display: block;
    width: 119px;
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 13px;
    transition: color .5s, background-color .5s;
    overflow: hidden
}

.cate li:hover {
    color: #fff;
    background: #ff6ea1
}

.cate li b {
    width: 16px;
    height: 16px;
    font-weight: 400;
    background: #ac2cfc;
    color: #fff;
    padding: 1px 3px;
    margin-left: 4px;
    font-size: 12px;
    border-radius: 2px
}

.cate_ul {
    margin: 0 auto;
    position: relative;
    max-width: 960px
}

.cate_img {
    margin-left: 8px;
    width: 48px;
    height: 48px
}

.footerapp img {
    width: 100%;
    margin-bottom: -8px;
    transition: opacity .5s
}

.footerapp img:hover {
    opacity: .7
}

.footer {
    border-radius: 5px 5px 0 0;
    height: auto;
    margin-bottom: 0;
    opacity: .7
}

.footer p {
    text-align: center;
    line-height: 40px;
    color: #333
}

.footer p a {
    color: #333
}

.clear {
    clear: both;
    height: 0
}

.side {
    position: fixed;
    bottom: 5px;
    width: 70px;
    left: 50%;
    margin-left: 606px
}

.side_div {
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    border: 1px solid #FF4CE5;
    border-radius: 2px
}

.faq {
    position: fixed;
    bottom: 5px;
    width: 70px;
    right: 50%;
    margin-right: 606px
}

.faq_scj {
    width: 70px;
    height: 70px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 1px
}

.faq_div {
    width: 70px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    border: 1px solid #FF4CE5;
    border-radius: 2px
}

.xm {
    position: fixed;
    bottom: 0;
    left: initial;
    right: 0;
    z-index: 1;
    font-size: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px)
}

.xm img {
    width: 100px
}

#scj {
    background: url(../img/scj.png)
}

#top {
    background: url(../img/top.jpg)
}

#dizhi {
    background: url(../img/dizhi.jpg)
}

#guestbook {
    text-align: center;
    line-height: 32px;
    transition: background-color .3s
}

#guestbook:hover {
    background: #6eaffd
}

.btn {
    padding: 0;
    margin: 0
}

.app {
    box-shadow: 0 0 15px rgba(100, 100, 100, .1);
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff
}

.navi {
    font-size: 0;
    padding: 10px 5px 5px 5px;
}

.appico {
    width: calc(100% / 12 - 10px);
    margin: 0 5px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    position: relative
}

.appico p {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    margin: 0;
    color: #000;
    overflow: hidden
}

.naicon {
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
    margin: 0 12px
}

.appico img {
    width: 100%
}

.appico:hover .btn-raised {
    -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, .24), 0 0 2px -2px rgba(0, 0, 0, .4), 0 1px 12px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, .24), 0 0 2px -2px rgba(0, 0, 0, .4), 0 1px 12px 0 rgba(0, 0, 0, .22)
}


/* 美女上門 */
#jiaoyou li {
    width: calc(50% - 2px)
}

/* 好用好玩 */
#gongju .highlight {
    color: blue;
    font-weight: bold;
}

/* 片商情報 */
#pianshang li {
    width: calc(100% / 10 - 1px)
}

@media screen and (max-width: 1200px) {
    .side {
        display: none
    }

    .faq {
        display: none
    }

    .xm {
        display: none
    }
}

@media screen and (max-width: 960px) {
    body {
        background-size: 150%
    }

    #container {
        width: 98%;
        margin-top: 20%
    }

    .nav a {
        flex-basis: 16.6666%
    }

    .nav li {
        margin-right: -2px;
        height: 35px;
        line-height: 35px
    }

    .toptips li {
        width: 100%;
        margin-right: -2px;
        height: 35px;
        line-height: 35px
    }

    .good li {
        width: 25%;
        height: 35px;
        line-height: 35px
    }

    .cate li {
        width: 25%;
        margin-right: -1px;
        height: 35px;
        line-height: 35px
    }

    .cate_name {
        height: 35px
    }

    .cate_name p {
        font-size: 21px;
        line-height: 35px
    }

    .appico {
        width: calc(25% - 10px)
    }

    /* 美女上門 */
    #jiaoyou li {
        width: calc(100% - 2px)
    }

    /* 片商情報 */
    #pianshang li {
        width: 25%
    }

}

@media screen and (max-width: 800px) {
    .nav li {
        font-size: 15px;
        height: 30px;
        line-height: 30px
    }

    .toptips li {
        font-size: 14px;
        height: auto;
        line-height: 30px
    }

    .good li {
        font-size: 15px;
        height: 30px;
        line-height: 30px
    }

    .cate li {
        font-size: 15px;
        height: 30px;
        line-height: 30px
    }

    .cate_name {
        height: 30px
    }

    .cate_name p {
        font-size: 20px;
        line-height: 30px
    }
}

@media screen and (max-width: 640px) {
    .nav li {
        font-size: 12px;
        height: 30px;
        border: 1px solid #da634b;
        line-height: 30px
    }


    .toptips li {
        width: 100%;
        font-size: 12px;
        height: auto;
        line-height: 30px
    }

    .good li {
        font-size: 11px;
        height: 30px;
        line-height: 30px
    }

    .cate li {
        width: 25%;
        font-size: 11px;
        height: 30px;
        line-height: 30px
    }

    .cate_name {
        height: 30px
    }

    .cate_name p {
        font-size: 17px;
        line-height: 30px
    }

    .cate li b {
        width: 16px;
        height: 16px;
        font-weight: 400;
        background: #ac2cfc;
        color: #fff;
        padding: 2px 3px;
        margin-left: 4px;
        font-size: 11px;
        border-radius: 2px
    }
}