
<div class="faq" th:fragment="faq">
    <a onclick="addFavorite(window.location,document.title)" href="javascript:void(0)">
        <div class="faq_scj" id="scj"></div>
    </a>
    <a th:href="@{gysl/{siteCode}(siteCode=jtm_dh)}" target="_blank">
        <div class="faq_div">网站提交</div>
    </a>


    <a href="/gysl" target="_blank">
        <div class="faq_div" id="guestbook">关于我们</div>
    </a>
    <a href="gysl" target="_blank">
        <div class="faq_div" id="guestbook">联系我们</div>
    </a>
    <a name="StranLink" id="StranLink" style="color:white;cursor:pointer" href="javascript:StranBody()" title="点击以繁体中文方式浏览">
        <div class="faq_div">繁体中文</div>
    </a>
</div>