<div class="main"  th:fragment="datalist">
  <div class="column">
    <style>
      #dh div {background-color: #fc9600;}
      #sp div {background-color: #6eaffd;}
      #xs div {background-color: #23BE6B;}
      #gj div {background-color: #f76e25;}

    </style>

    <!-- 后台遍历start -->
    <!-- =================================================================== -->
    <div  th:each="navType,navState:${siteMap}" class="cate" th:id="${navType.key}" x-data="alpineInit.shipin" >
      <div class="cate_name">
        <p th:switch="${navType.key}">
          <i class="fa fa-modx" aria-hidden="true"  th:case="dh" > 导航</i>
          <i class="fa fa-modx" aria-hidden="true" th:case="sp" >视频</i>
          <i class="fa fa-modx" aria-hidden="true" th:case="xs" >小说</i>
          <i class="fa fa-modx" aria-hidden="true" th:case="zh" >综合</i>
          <i class="fa fa-modx" aria-hidden="true" th:case="gj" >工具</i>
        </p>
      </div>

      <a href="" th:each="site:${navType.value}" target="_blank" rel="noopener">
        <li  th:text="${site.siteName}" > </li>
      </a>
      <br class="clear">
    </div>
    <!-- 后台遍历end -->

  </div>

  <div style="display:none"></div>
</div>